// manually toggle modal
$("#editGradeModal").modal('toggle');
// re-render edited element
row = document.getElementById("student_<%= @grade.student.id %>");
row.outerHTML = "<%= j render partial: 'cohorts/cohort_student', locals: { student: @grade.student, cohort: @grade.cohort } %>";
// display flash messages
$("#flash_messages").html("<%= j (render partial: 'shared/flash' , locals: { flash: flash }).html_safe %>");
// turn form partial back into span
$("#edit_grade_<%= @grade.id %>").replaceWith("<span id='edit-form'></span>");
// scroll to top
$(document).ready(function () { $('html, body').animate({scrollTop:0}, 100); });
