<% @page_title = "Students" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">
      <!-- form flash messages -->
      <div id="flash_messages">
      </div>
      <!-- add button and page title -->
      <%= render partial: "shared/table_heading", locals: { body: "Add New Student", url: new_student_path, modalname: "#addStudentModal" } %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Degree</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="all_students">
          <% @students.each do |student| %>
            <%= render student %>
          <% end %>
        </tbody>
      </table>

      <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Student</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span id='add-form'></span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="editStudentModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Student</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="edit-modal-holder" class="modal-body">
              <span id='edit-form'></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
