<% @page_title = "Instructors" %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active"><%= @page_title %></li>
  </ol>
  <div class="row">
    <div class="col-12">
    <!-- form flash messages -->
    <%= render "shared/flash" %>
    <!-- add button and page title -->
    <%= render partial: "shared/table_heading", :locals => { :body => 'Add New Instructor', :url => new_instructor_path, modalname: "#addInstructorModal" } %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Degree</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="all_instructors">
          <% @instructors.each do |instructor| %>
            <%= render instructor %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
