// manually toggle modal
$("#editInstructorModal").modal('toggle');
// re-render edited element
row = document.getElementById("instructor_<%= @instructor.id %>");
row.outerHTML = "<%= j render partial: "instructor", locals: { instructor: @instructor } %>";
// display flash messages
$("#flash_messages").html("<%= j (render partial: 'shared/flash' , locals: { flash: flash }).html_safe %>");
// turn form partial back into span
$("#edit_instructor_<%= @instructor.id %>").replaceWith("<span id='edit-form'></span>");
// scroll to top
$(document).ready(function () { $('html, body').animate({scrollTop:0}, 100); });
