@import "font-awesome";
@import "bootstrap";

// Color Variables
// Bootstrap Color Defaults
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 56px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 250px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 55px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 56px;

// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 100%;
  height: $sticky-footer-height;

  background-color: $gray-200;

  line-height: 55px;
  @media (min-width: 992px) {
    width: calc(100% - #{$sidenav-base-width});
  }
}

body.sidenav-toggled {
  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - #{$sidenav-collapsed-width});
    }
  }
}

// mixin

@mixin rotate {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

// Styling for custom cards
// Custom class for the background icon in card blocks
.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;

  font-size: 5rem;
  @include rotate;
}

// Override breakpoints for card columns to work well with sidebar
.card-columns {
  @media (min-width: 576px) {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 1200px) {
    column-count: 2;
  }
}

// utilities

// Additional Text Helper Class
.smaller {
  font-size: 0.7rem;
}

// Helper class for the overflow property
.o-hidden {
  overflow: hidden !important;
}

// Helper classes for z-index
.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

// login

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

// navbar

// Color support for .navbar-dark

#mainNav.navbar-dark {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: $gray-600;
      }
      > .nav-item {
        > .nav-link {
          color: $gray-600;
          &:hover {
            color: $gray-500;
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          > li > a {
            color: $gray-600;
            &:focus,
            &:hover {
              color: $gray-500;
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: $gray-500;
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: $gray-800;
        li {
          &.active {
            a {
              color: white !important;
              background-color: $gray-700;
              &:focus,
              &:hover {
                color: white;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background: $gray-800;
          }
        }
      }
    }
  }
}

// Color support for .navbar-light

#mainNav.navbar-light {
  .navbar-collapse {
    .navbar-sidenav {
      .nav-link-collapse:after {
        color: fade-out($black, 0.5);
      }
      > .nav-item {
        > .nav-link {
          color: fade-out($black, 0.5);
          &:hover {
            color: fade-out($black, 0.3);
          }
        }
        .sidenav-second-level,
        .sidenav-third-level {
          > li > a {
            color: fade-out($black, 0.5);
            &:focus,
            &:hover {
              color: fade-out($black, 0.3);
            }
          }
        }
      }
    }
    .navbar-nav > .nav-item.dropdown > .nav-link:after {
      color: fade-out($black, 0.5);
    }
  }
  @media (min-width: 992px) {
    .navbar-collapse {
      .navbar-sidenav {
        background: $gray-100;
        li {
          &.active {
            a {
              color: $black !important;
              background-color: $gray-200;
              &:focus,
              &:hover {
                color: $black;
              }
            }
          }
        }
        > .nav-item {
          .sidenav-second-level,
          .sidenav-third-level {
            background: $gray-100;
          }
        }
      }
    }
  }
}

#mainNav.fixed-top {
  .sidenav-toggler {
    display: none;
  }
  @media (min-width: 992px) {
    .navbar-sidenav {
      height: calc(100vh - 112px);
    }
    .sidenav-toggler {
      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      margin-top: calc(100vh - 56px);

      > .nav-item {
        width: $sidenav-base-width;
        padding: 0;
        > .nav-link {
          padding: 1em;
        }
      }
    }
  }
  &.navbar-dark {
    .sidenav-toggler {
      background-color: $gray-900;
      a {
        i {
          color: $gray-500;;
        }
      }
    }
  }
  &.navbar-light {
    .sidenav-toggler {
      background-color: $gray-300;
      a {
        i {
          color: fade-out($black, 0.5);
        }
      }
    }
  }
}

body.sidenav-toggled {
  #mainNav.fixed-top {
    .sidenav-toggler {
      overflow-x: hidden;

      width: $sidenav-collapsed-width;
      .nav-item,
      .nav-link {
        width: $sidenav-collapsed-width !important;
      }
    }
    #sidenavToggler {
      i {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter:  'FlipH';
      }
    }
  }
}

#mainNav {
  .navbar-collapse {
    overflow: auto;

    max-height: 75vh;
    .navbar-nav {
      .nav-item {
        .nav-link {
          cursor: pointer;
        }
      }
    }
    .navbar-sidenav {
      .nav-link-collapse:after {
        float: right;

        content: '\f107';

        font-family: 'FontAwesome';
      }
      .nav-link-collapse.collapsed:after {
        content: '\f105';
      }
      .sidenav-second-level,
      .sidenav-third-level {
        padding-left: 0;
        > li > a {
          display: block;

          padding: 0.5em 0;
          &:focus,
          &:hover {
            text-decoration: none;
          }
        }
      }
      .sidenav-second-level > li > a {
        padding-left: 1em;
      }
      .sidenav-third-level > li > a {
        padding-left: 2em;
      }
    }
    .sidenav-toggler {
      display: none;
    }
    .navbar-nav > .nav-item.dropdown {
      > .nav-link {
        position: relative;

        min-width: 45px;
        &:after {
          float: right;

          width: auto;

          content: '\f105';

          border: none;

          font-family: 'FontAwesome';
        }
        .indicator {
          position: absolute;
          top: 5px;
          left: 21px;
          font-size: 10px;
        }
      }
      &.show > .nav-link:after {
        content: '\f107';
      }
      .dropdown-menu > .dropdown-item > .dropdown-message {
        overflow: hidden;

        max-width: none;

        text-overflow: ellipsis;
      }
    }
  }
  @media (min-width: 992px) {
    .navbar-brand {
      width: $sidenav-base-width;
    }
    .navbar-collapse {
      overflow: visible;

      max-height: none;
      .navbar-sidenav {
        position: absolute;
        top: 0;
        left: 0;

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        margin-top: $navbar-base-height;

        > .nav-item {
          width: $sidenav-base-width;
          padding: 0;
          > .nav-link {
            padding: 1em;
          }
          .sidenav-second-level,
          .sidenav-third-level {
            padding-left: 0;

            list-style: none;

            > li {
              width: $sidenav-base-width;
              > a {
                padding: 1em;
              }
            }
          }
          .sidenav-second-level > li > a {
            padding-left: 2.75em;
          }
          .sidenav-third-level > li > a {
            padding-left: 3.75em;
          }
        }
      }
      .navbar-nav > .nav-item.dropdown {
        > .nav-link {
          min-width: 0;
          &:after {
            width: 24px;

            text-align: center;
          }
        }
        .dropdown-menu > .dropdown-item > .dropdown-message {
          max-width: 300px;
        }
      }
    }
  }
}

#mainNav.static-top {
  .sidenav-toggler {
    display: none;
  }
  @media (min-width: 992px) {
    .sidenav-toggler {
      display: flex;
    }
  }
}

body.sidenav-toggled {
  #mainNav.static-top {
    #sidenavToggler {
      i {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter:  'FlipH';
      }
    }
  }
}

.content-wrapper {
  overflow-x: hidden;

  background: white;
  @media (min-width: 992px) {
    margin-left: $sidenav-base-width;
  }
}

// Toggling the Sidenav
#sidenavToggler {
  i {
    font-weight: 800;
  }
}

.navbar-sidenav-tooltip.show {
  display: none;
}

body.sidenav-toggled {
  .content-wrapper {
    @media (min-width: 992px) {
      margin-left: $sidenav-collapsed-width;
    }
  }
  .navbar-sidenav {
    width: $sidenav-collapsed-width;
    .nav-link-text {
      display: none;
    }
    .nav-item,
    .nav-link {
      width: $sidenav-collapsed-width !important;
      &:after {
        display: none;
      }
    }
    .nav-item {
      white-space: nowrap;
    }
  }
  .navbar-sidenav-tooltip.show {
    display: flex;
  }
}
